repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=2000"]
      - id: debug-statements

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: poetry run black .
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort .
        language: system
        types: [python]
        require_serial: true
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py37-plus
        language: system
        types: [python]
        require_serial: true
      - id: ver_today
        name: ver_today
        entry: ./scripts/ver_today.sh
        language: system
        require_serial: true
