include acpype/amber_macos/*
include acpype/amber_macos/dat/antechamber/*
include acpype/amber_macos/dat/chamber/*
include acpype/amber_macos/dat/leap/*
include acpype/amber_macos/dat/leap/cmd/*
include acpype/amber_macos/dat/leap/cmd/oldff/*
include acpype/amber_macos/dat/leap/lib/*
include acpype/amber_macos/dat/leap/lib/oldff/*
include acpype/amber_macos/dat/leap/pixmaps/*
include acpype/amber_macos/dat/leap/prep/*
include acpype/amber_macos/dat/leap/prep/oldff/*
include acpype/amber_macos/dat/leap/prep/protonated_nucleic/*
include acpype/amber_macos/dat/leap/parm/*
include acpype/amber_macos/lib/*
include acpype/amber_macos/bin/*
include acpype/amber_macos/bin/wrapped_progs/*
include acpype/amber_linux/*
include acpype/amber_linux/dat/antechamber/*
include acpype/amber_linux/dat/chamber/*
include acpype/amber_linux/dat/leap/*
include acpype/amber_linux/dat/leap/cmd/*
include acpype/amber_linux/dat/leap/cmd/oldff/*
include acpype/amber_linux/dat/leap/lib/*
include acpype/amber_linux/dat/leap/lib/oldff/*
include acpype/amber_linux/dat/leap/pixmaps/*
include acpype/amber_linux/dat/leap/prep/*
include acpype/amber_linux/dat/leap/prep/oldff/*
include acpype/amber_linux/dat/leap/prep/protonated_nucleic/*
include acpype/amber_linux/dat/leap/parm/*
include acpype/amber_linux/lib/*
include acpype/amber_linux/bin/*
include acpype/amber_linux/bin/wrapped_progs/*
