include amber19-0_linux/bin/*
include amber19-0_linux/bin/to_be_dispatched/*
include amber19-0_linux/dat/*
include amber19-0_linux/dat/antechamber/*
include amber19-0_linux/dat/pixmap/*
include amber19-0_linux/dat/rism3d/*
include amber19-0_linux/dat/leap/cmd/*
include amber19-0_linux/dat/leap/cmd/oldff/*
include amber19-0_linux/dat/leap/lib/*
include amber19-0_linux/dat/leap/lib/oldff/*
include amber19-0_linux/dat/leap/parm/*
include amber19-0_linux/dat/leap/prep/*
include amber19-0_linux/dat/leap/prep/oldff/*
include amber19-0_linux/dat/leap/prep/protonated_nucleic/*
include amber19-0_linux/dat/rism3d/electron_rdf/*
include amber19-0_linux/lib/*
include amber19-0_os/bin/*
include amber19-0_os/bin/to_be_dispatched/*
include amber19-0_os/dat/*
include amber19-0_os/dat/antechamber/*
include amber19-0_os/dat/fd_data/*
include amber19-0_os/dat/pixmap/*
include amber19-0_os/dat/rism3d/*
include amber19-0_os/dat/leap/cmd/*
include amber19-0_os/dat/leap/cmd/oldff/*
include amber19-0_os/dat/leap/lib/*
include amber19-0_os/dat/leap/lib/oldff/*
include amber19-0_os/dat/leap/parm/*
include amber19-0_os/dat/leap/prep/*
include amber19-0_os/dat/leap/prep/oldff/*
include amber19-0_os/dat/leap/prep/protonated_nucleic/*
include amber19-0_os/dat/rism3d/electron_rdf/*
include amber19-0_os/lib/*
include amber19-0_os/lib/amber_3rd_party/*
include amber19-0_os/include/*

