{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if runFlag %}<meta http-equiv="refresh" content="{{ refresh }}" />{% endif %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/base.css" />
    <link rel="Shortcut Icon" href="/images/favicon.ico" />
    <script type="text/javascript" src="/css/CollapsedFieldsets.js"></script>
  </head>
  <body>
<div class="outer-container">
    <div class="path">
    </div>
    <div class="inner-container">
    <div class="main">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <div class="clearer">&nbsp;</div>
    </div>
    </div>
    
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7430162-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<!--[if IE 6]>
<script type="text/javascript">
    /*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; }
    var IE6UPDATE_OPTIONS = {
        icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
    }
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->

  </body>
</html>
{% endautoescape %}
