{% extends "base.html" %}

{% block title %}Status{% endblock %}
{% block logo %}acpype{% endblock %}

{% block content %}

{% load tags %}

<script type="text/javascript">
function confirmSubmit()
{
var agree=confirm("Are you sure?");
if (agree)
    return true ;
else
    return false ;
}
</script>

    <table cellspacing="0" width="100%">
        <tr><td><div style="text-align: center;"><small style="font-style: italic; color: rgb(100, 100, 100);">
        {% if runFlag %} Page automatically refreshed every {{ refresh }} seconds | {% now "jS M y H:i" %}
        {% else %} No running jobs {% endif %}</small></div></td></tr>
    </table>
{% if job_list %}

    {% for job in job_list %}
<!--        <li>{{ job }}</li>-->
        <table class="status">
          {% if admin %}{% ifchanged %}<tr><td align="left"><a>User: <b><i>{{ job.juser }}</i></b></a></td></tr>{% endifchanged %}{% endif %}
          <tr><td align="left"><h5>Job Name</h5></td><td align="left"><h5>Date</h5></td><td align="left"><h5>Status</h5></td></tr>
          <tr><td align="left"><a>{{ job.jname}}</a></td><td align="left"><a>{{ job.jdate }}</a></td><td align="left">
                 <a style="font-weight: bold; color: {{ job.jstatus|statusColor }};">{{ job.jstatus}}</a></td></tr>
          <tr><td colspan="2">
             <form class="status" action="/acpype/call_status_func" method="post" enctype="multipart/form-data"><p>
             <input type="hidden" name="juser" value="{{ job.juser }}"/>
             <input type="hidden" name="jpid" value="{{ job.jpid }}"/>
             <input type="hidden" name="jname" value="{{ job.jname }}"/>
             <input type="hidden" name="jdate" value="{{ job.jdate }}"/>
             <input type="hidden" name="jobdir" value="{{ job.jobdir }}"/>
             {% ifequal job.jstatus 'Submitted' %}<input type="submit" name="func" value="Cancel Job" onclick="return confirmSubmit()"/>{% endifequal %}
             {% ifequal job.jstatus 'Running' %}<input type="submit" name="func" value="Cancel Job" onclick="return confirmSubmit()"/>{% endifequal %}
             {% ifequal job.jstatus 'Finished' %}
                <input type="submit" name="func" value="Download"/>
                <input type="submit" name="func" value="View Log"/>
                <input type="submit" name="func" value="Delete" onclick="return confirmSubmit()"/>
             {% endifequal %}
             {% ifequal job.jstatus 'Failed' %}
                <input type="submit" name="func" value="View Log"/>
<!--                <input type="submit" name="func" value="Try Rerun" onclick="return confirmSubmit()"/>-->
                <input type="submit" name="func" value="Delete" onclick="return confirmSubmit()"/>
             {% endifequal %}
             {% ifequal job.jstatus 'Cancelled' %}
                <input type="submit" name="func" value="Delete" onclick="return confirmSubmit()"/>
             {% endifequal %}
             {% ifequal job.jstatus 'Deleted' %}
                <input type="submit" name="func" value="Remove from DB" onclick="return confirmSubmit()"/>
             {% endifequal %}</p>
            </form></td></tr>
            {% ifequal job.jstatus 'Running' %}<tr><td colspan="3"><a style="font-size: 12px; color:#646464; font-style:italic;">Running for {{ job.jdate|objdate|timesince }}</a></td></tr>{% endifequal %}
        </table>
    {% endfor %}

{% else %}
    <p>No jobs are available yet.</p>
{% endif %}

{% endblock %}
