{% extends "base.html" %}

{% block title %}Status{% endblock %}
{% block logo %}acpype{% endblock %}

{% block content %}

{% load tags %}

<script type="text/javascript">
function confirmSubmit()
{
var agree=confirm("Are you sure?");
if (agree)
    return true ;
else
    return false ;
}
</script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% for job in object_list %}
    {% ifchanged %}{% if job.runFlag %} <meta http-equiv="refresh" content="5"> <center><h0>Page automatically refreshed every 5 seconds.| {% now "jS M y H:i" %}</h0></center>
    {% endif %}
    {% endifchanged %}

{% endfor %}

{% if object_list %}

    {% for job in object_list %}

    <table cellspacing="0" width="100%">

    </table>
        <table class="status">
          {% if user.is_superuser %}{% ifchanged %}<tr><td align="left"><a>User: <b><i>{{ job.juser }}</i></b></a></td></tr>{% endifchanged %}{% endif %}
          <tr><td align="left"><h5>Job Name</h5></td><td align="left"><h5>Date</h5></td><td align="left"><h5>Status</h5></td></tr>
          <tr><td align="left"><a>{{ job.jname}}</a></td><td align="left"><a>{{ job.date }}</a></td><td align="left"><a style="font-weight: bold; color: {{ job.jstatus|statusColor }};">{{ job.jstatus }}</a></td></tr>

          <tr><td colspan="2" align="left">
             <form method="post" action="{% url 'callStatusFunc' %}" enctype="multipart/form-data">
             {% csrf_token %}
             <input type="hidden" name="juser" value="{{ job.juser }}"/>
             <input type="hidden" name="jpid" value="{{ job.jcelery_id }}"/>
             <input type="hidden" name="jname" value="{{ job.molecule_file }}"/>
             <input type="hidden" name="jdate" value="{{ job.date }}"/>

             {% ifequal job.jstatus 'Running' %}
             <button type="submit" name="func" value = "cancel" onclick="return confirmSubmit()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel Job </button>
             {% endifequal %}
             {% ifequal job.jstatus 'Finished' %}
              <button type="submit" name="func" value = "download"><span class="glyphicon glyphicon-download-alt"></span> Download </button>
              <button type="submit" name="func" value = "log"><span class="glyphicon glyphicon-eye-open"></span> View Log </button>
              <button type="submit" name="func" value = "delete" onclick="return confirmSubmit()"><span class="glyphicon glyphicon-remove"></span> Delete </button>
             {% endifequal %}
             {% ifequal job.jstatus 'Failed' %}
                <button type="submit" name="func" value = "log"><span class="glyphicon glyphicon-eye-open"></span> View Log </button>
                <button type="submit" name="func" value = "delete" onclick="return confirmSubmit()"><span class="glyphicon glyphicon-remove"></span> Delete </button>
             {% endifequal %}
             {% ifequal job.jstatus 'Cancelled' %}
                <button type="submit" name="func" value = "delete" onclick="return confirmSubmit()"><span class="glyphicon glyphicon-remove"></span> Delete </button>
             {% endifequal %}
             {% ifequal job.jstatus 'Deleted' %}
                <button type="submit" name="func" value = "delete_db" onclick="return confirmSubmit()"><span class="glyphicon glyphicon-remove"></span> Delete_DB </button>
             {% endifequal %}</p>
            </form>
           </p>
            {% ifequal job.jstatus 'Running' %}<tr><td colspan="3"><a style="font-size: 12px; color:#646464; font-style:italic;">Running for {{ job.date|timesince }}</a></td></tr>{% endifequal %}
        </table>

    {% endfor %}
    <input type=button value="Back" onClick="javascript:history.go(-1);">
{% else %}
    <p>No jobs are available yet.</p>
{% endif %}

{% endblock %}
