
	{% load staticfiles %}

	<!DOCTYPE html>
	<html>

	<head>

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <title>ACPYPE Server</title>

	    <!-- Core CSS - Include with every page -->
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	</head>

	<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'home' %}">ACPYPE Server</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account Options<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	          	<li>{% if request.user.is_authenticated %} Welcome '{{ request.user.username }}'
				{% else %}<a href="{% url 'login' %}">Login</a>{% endif %}</li>
	            <li><a href="{% url 'home' %}">Home</a></li>
	            <li><a href="{% url 'submit_upload' %}">Submit</a></li>
	            <li><a href="{% url 'status' %}">Status</a></li>
	            <li><a href="{% url 'logout' %}">Logout</a></li>
	          </ul>
	        </li>

	      </ul>
	    </div>
	  </div>
	</nav>

	            {% block content %}
	            {% endblock %}

	    <!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
	    {% block javascript %}
	    {% endblock %}
	<hr>
	<footer>
      <p class="text-center">ACPYPE Server Team &copy; 2018</p>
    </footer>
    <hr>
	</body>

	</html>
