{% extends "base.html" %}
{% load static %}
{% block title %}CcpnNmr Acpype{% endblock %}
{% block logo %}acpype{% endblock %}
{% block content %}

<p align="center" style="color: red">WARNING: this is a beta version. Please report all problems to <a href="mailto:awilter@ebi.ac.uk">the CCPN development team</a>.</p>

<h2>About</h2>
The CcpNmr ACPYPE Portal was designed to
generate topology parameters files for unusual organic chemical compounds. It is based on
<b><a href="http://amber.scripps.edu/#AmberTools">ANTECHAMBER</a></b> and so far, ACPYPE is
able to work for CNS/XPLOR, GROMACS, CHARMM and AMBER.

<p>The main scope for CcpNmr ACPYPE in CCPN view is to help to pave the way for
automatic NMR 3D structure calculation involving molecules with unknown parameters,
like for example, in complexes of protein and inhibitor, where the ligand is usually
an unusual chemical compound.</p>

<p>ACPYPE stands for <i><b>A</b>nte<b>C</b>hamber <b>PY</b>thon <b>P</b>arser
 interfac<b>E</b></i> and is pronounced "ace + pipe".</p>

<p>If you use this resource, please cite:

Sousa da Silva AW, Vranken WF and Laue, ED. ACPYPE. Manuscript to be submitted.
<!--
<a href="https://doi.org/10.1186/1756-0500-5-367">
da Silva, A. W. S., & Vranken, W. F. (2012). ACPYPE-Antechamber python parser interface. BMC research notes, 5(1), 367.</a>
-->

<h3>Disclaimer</h3>
This service is provided with ABSOLUTELY NO WARRANTY and holds no liabilities. If you decide to
use it, bear in mind that your data and potential results are not stored with encryption,
and the service administration has access to it. Furthermore, the data and results will be
eventually removed after two weeks from the time of submission, whether your job has finished or not.

<h3>Beta version</h3>
This is the beta version of the CcpNmr ACPYPE webserver and is not production stable.
Please feel free to it and report any bugs or strange behaviour to the
<a href="mailto:awilter@ebi.ac.uk"> Administrator</a>.

<h3>What the CcpNmr ACPYPE does</h3>
It will take a PDB, MDL or MOL2 file of a small organic molecule without open valence and
assign charges and force ﬁeld parameterizations according to GAFF (Generalised Amber Force Field).
There some options that can be applied to a submitting project.
<div class="workflow">
<p><b>For charge</b>, there are three methods:</p>
<ul>
    <li>bcc: for semi-epirical AM1-BCC, parameterized to reproduce HF/6-
31G* RESP charges; slow, but with good cost/benefit (default)</li>
    <li>Gasteiger method, very fast but less accurate</li>
    <li>user: for a MOL2 file with charges already calculated, via, e.g.,
    <a href="http://q4md-forcefieldtools.org/RED/">R.E.D.-III</a></li>
</ul>
<b>For net charge</b>, set a integer value for the project, or let ACPYPE guess
the net charge for the molecule.
<p><b>For <a href="http://en.wikipedia.org/wiki/Multiplicity_(chemistry)">multiplicity</a></b>,
given by equation <i> M = 2S + 1</i>, where <i>S</i>
is the angular spin momentum or simply put, <i> S = ½ x # of unpaired electrons</i>. So, <i>M</i> can be: 1, singlet (default), for
0 unpaired electrons; 2, doublet, for 1 unpaired electron (<i>S = 1/2</i>); and
so on. NOTE: now that ACPYPE uses AmberTools 1.3, this option is not enable anymore with
SQM, which replaced MOPAC and uses by default 1.
</p>
<p><b>For atom type</b>, set GAFF (default) or AMBER. If set AMBER, ACPYPE/antechamber
will try to set parameters and atom types according to AMBER99SB forcefield. Case
 it fails, GAFF parameters (but with AMBER atom types) will be used.</p>
</div>

<h3>What the CcpNmr ACPYPE doesn't do</h3>
It will not work with organic molecule with open valences; containing others atoms
than C, N, O, S, P, H, F, Cl, Br and I; or covalently
bonded to another molecule. If one wants parameters for a modified amino acid
residue, one way of getting it is by neutralising the N- and C- termini and then fit
manually the additional parameters to the modified residue.

<h2>How CcpNmr ACPYPE web interface works</h2>
The web interface was designed to be simplest way to obtain topologies parameters
for small molecules from a coordinate file, by intuitive steps. The steps are:
<div class="workflow">
<img src="{% static 'images/workflow_acpype.jpg' %}" alt="CcpNmr ACPYPE workflow"/>
<ul>
    <li>Upload a PDB, MDL or MOL2 file</li>
    <li>Select options and submit</li>
    <li>Follow the job status</li>
    <li>Retrieve results when job finished</li>
</ul>
</div>
The scheme here depicts the workflow of CcpNmr ACPYPE.

<h2>Documentation and help</h2>
More information, with references, can be found at
<a href="http://acpype.googlecode.com" title="ACPYPE Googlecode">ACPYPE Googlecode</a> pages.
<p>More help? Don't hesitate: <a href="mailto:awilter@ebi.ac.uk"> Administrator</a></p>
{% endblock %}
