{% extends "base.html" %}
{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h2>Job List</h2>
{% if object_list %}

    {% for job in object_list %}
    <table cellspacing="0" width="100%">
    {% ifequal job.jstatus 'STARTED' %}<meta http-equiv="refresh" content="5">Page automatically refreshed every 5 seconds.{% else %}  {%  endifequal %}</small></div></td></tr>
    </table>

        <table class="table table-bordered">
          {% if admin %}{% ifchanged %}<tr><td align="left"><a>User: <b><i>{{ job.juser }}</i></b></a></td></tr>{% endifchanged %}{% endif %}
          <tr><td align="left"><h5>Job Name</h5></td><td align="left"><h5>Date</h5></td><td align="left"><h5>ID</h5></td><td align="left"><h5>Status</h5></td></tr>
          <tr><td align="left"><a>{{ job.jname}}</a></td><td align="left"><a>{{ job.date }}</a></td><td align="left"><a>{{ job.jcelery_id }}</a></td><td align="left"><a>{{ job.jstatus }}</a></td><td align="left">
                 
          <tr><td colspan="2" align="left">
             <form method="post" action="{% url 'callStatusFunc' %}" enctype="multipart/form-data">
             {% csrf_token %}
             <input type="hidden" name="juser" value="{{ job.juser }}"/>
             <input type="hidden" name="jpid" value="{{ job.jcelery_id }}"/>
             <input type="hidden" name="jname" value="{{ job.molecule_file }}"/>
             <input type="hidden" name="jdate" value="{{ job.date }}"/>
                       
             {% ifequal job.jstatus 'STARTED' %}
             <button type="submit" name="func" value = "cancel"><span class="glyphicon glyphicon-remove-sign"></span> Cancel Job </button>
             {% endifequal %}
             {% ifequal job.jstatus 'DONE' %}
              <button type="submit" name="func" value = "download"><span class="glyphicon glyphicon-download-alt"></span> Download </button>
              <button type="submit" name="func" value = "log"><span class="glyphicon glyphicon-eye-open"></span> View Log </button>
              <button type="submit" name="func" value = "delete"><span class="glyphicon glyphicon-remove"></span> Delete </button>
             {% endifequal %}
             {% ifequal job.jstatus 'FAILED' %}
                <button type="submit" name="func" value = "log"><span class="glyphicon glyphicon-eye-open"></span> View Log </button>

                <button type="submit" name="func" value = "delete"><span class="glyphicon glyphicon-remove"></span> Delete </button>
             {% endifequal %}
             {% ifequal job.jstatus 'CANCELED' %}
                <button type="submit" name="func" value = "delete"><span class="glyphicon glyphicon-remove"></span> Delete </button>
             {% endifequal %}
             {% ifequal job.jstatus 'DELETED' %}
                <input type="submit" name="func" value="Remove from DB" onclick="return confirmSubmit()"/>
             {% endifequal %}</p>
            </form>
           </p>
            
        </table>
 
    {% endfor %}
    <input type=button value="Back" onClick="javascript:history.go(-1);">
{% else %}
    <p>No jobs are available yet.</p>
{% endif %}

{% endblock %}
