{% extends "base.html" %}

{% block title %}CcpNmr ACPYPE{% endblock %}
{% block logo %}acpype{% endblock %}
{% block content %}
{% load tags %}

<div class="pageTitle">Upload a file with coordinates</div>
<div class="pageHelp">A file in PDB or MOL2 format. Max size is <b>{% settings_value "MAX_UPLOAD_SIZE" %}</b> Mb.</div>
<center>{% for field in form %}<b>{{ field.errors }}</b>{% endfor %}</center>

<form method="post" action="{% url 'Run' %}" enctype="multipart/form-data">

<fieldset class="head">
<h2>Molecule Project</h2>
{% csrf_token %}
</fieldset>
      
    <fieldset>
    {% for field in form %}
        <p title="{{ field.help_text}}"><label>{{field.label}}</label>{{ field }}</p>
    {% endfor %}
    </fieldset>
    
<div class="buttonSubmit"><button type="submit" value = "submit" title="Submit and run your job">Submit</button></div>
</form>

{% endblock content %}