{% extends "base.html" %}

{% block title %}CcpNmr ACPYPE{% endblock %}
{% block logo %}acpype{% endblock %}
{% block content %}

<div class="pageTitle">Upload a file with coordinates</div>
<div class="pageHelp">A file in PDB or MOL2 format. Max size is <b>1</b> Mb.</div>
<fieldset class="head" title="Upload a Molecule Project">

<h2>Molecule Project</h2>
<form method="post" action="{% url 'Run' %}" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
</fieldset>
<button type="submit" value = "submit" title="Submit and run your job">Submit</button>
</form>

{% endblock content %}

