/* standard elements */
html {min-height: 100%;}

* {
    margin: 0;
    padding: 0;
}

a {color: #3333FF; text-decoration:none;}
a:hover {color: #D25717;}
a:visited {color: #830C00;}

body {
    background-color: #FFFFFF;
    color: #333333;
    font-size: 13px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    text-align: left;
    margin: 0
}

li {list-style: none;}

/*
p,code,ul {padding-bottom: 1.2em;}


h1 {font: normal 1.8em Tahoma,sans-serif;}
h2 {font: bold 1.4em sans-serif;}
h3 {font: bold 1em Tahoma,sans-serif;}
*/
h2 { padding: 18pt 0 6pt 0}
h3 { padding: 12pt 0 6pt 0}
input {margin: 0; padding: 0; display: inline;}
form {margin: 0; padding: 0; display: inline;}
/*
code {
    background: #FFF;
    border: 1px solid #EEE;
    border-left: 6px solid #CCC;
    color: #666;
    display: block;
    font: normal 1em Tahoma,sans-serif;
    line-height: 1.6em;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}
*/
blockquote {
    background: #999999;
    display: block;
    font-weight: bold;
    padding-left: 28px;
}

/*
h1,h2,h3 {padding-top: 6px; color: #553; margin-bottom: 4px;}
*/

/* misc */
.clearer {clear: both; font-size: 0;}
.left {float: left;}
.right {float: right;}

/* structure */
.inner-container {
    border: 0px solid #D7D7D2;
    background: white;
    margin: 0 10% 0 10%;
    width: 920px;
}

.outer-container {
    background: white;
    padding-bottom: 0px;
}

/* header & title */
.header {
    background: white;
    height: 80px;
    text-align: center;
    padding-left: 20px;
    margin:30px 10% 10px 10%;
}
.header .title {
    color: #999999;
    padding-top: 0px;
    text-decoration: none;
}
.header .title .homesite a {
    border-bottom: 1px dashed #657382;
    color: #999999;
    font: normal 3em sans-serif;
    padding-bottom: 2px;
}
.header .title a:hover {border-color: #F60;}
.header .title .login a {
    padding-top: 0px;
}

.header img
 {
  height: 53px;
 }


/* path */
.path {
    background-color:#DEDBFF;
    border:1px solid #AFAFCF;
    color: #FFF;
    font-weight: normal;
    font-size: 1.0em;
    padding: 8px 12px;
}
.path a {
    color: #FAFAFA;
    text-decoration: none;
}
.path a:hover {
    color: #FFE;
    text-decoration: underline;
}

/* main */
.main {
    background: white;
    border-top: 0px solid #FFF;
    padding: 0 0 10px 0;
}

/* content */
.content {
    float: right;
    width: 760px;
}
.content .descr {
    color: #664;
    font-size: 0.9em;
    margin-bottom: 6px;
}
/*
.content li {
    list-style: url(img/li.gif);
    margin-left: 18px;
}
.content p {font-family: "Lucida Sans Unicode",sans-serif;}
*/
/* navigation */
.navigation {
    float: left;
    width: 140px;
}
.navigation h2 {
    color: #b3b1c6;
    font-weight: bold;
    font-size: 12pt;
    line-height: 30px;
    margin: 0;
    padding-left: 6px;
}
.navigation ul {
    padding: 0;
    border-top: 1px solid #EAEADA;
}
.navigation li {border-bottom: 1px solid #EAEADA;}
.navigation li a {
    font-size: 10pt;
    color: #696684;
    display: block;
    padding: 8px 0 8px 15px;
    text-decoration: none;
    width: 100%;
}
.navigation li a:hover {
    background: #DEDBFF;
    width: 125px;
    color: #252151;
}

/* footer */
.footer {
    background-color:#DEDBFF;
    border:1px solid #AFAFCF;
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
    padding: 0px;
    text-align: center;
}
.footer a {
    color: #999999;
    text-decoration: none;
    font: bold 1em Verdana, Geneva, Arial,sans-serif;
}
.footer a:hover {color: #6666CC;}
.footer .right, .footer .right a {color: #C8C8C3;}
.footer .right a:hover {color: #F7F7F2;}

ul.errorlist {
    color: #FF3300;
    font-size: .8em;
    }

table.status {
    width: 80%;
    font-size: 14px;
    border-top: 1px solid gray;
    padding: 0px;
    border-spacing: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-top: 0%;
}

form.status {
    margin-bottom: 1%;
}
.result{
    font-size: 1.0em;
    margin-top: 6px;
    margin-bottom: 0px;
}

pre,code {
    width: 99%;
    background: white;
    border: 1px solid #999999;
    color: #666;
    display: block;
/*    font: normal 9pt "Courier",courier; */
    font-size: 12px;
    padding: 1% 0.5% 1% 0.5%;
    margin: 0px;
    white-space: pre;
    white-space: pre-wrap;       /* css-3 */
/*    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
/*    white-space: -pre-wrap;      /* Opera 4-6 */
/*    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
    border-width:0;
    }

.workflow img {
    float: right;
    vertical-align: top;
    padding-left: 5px;
    width: 300px;
    }
.workflow ul {
    margin: 13px 0 13px 40px;
    }
.workflow li {
    list-style-type: disc;
    }

p { padding-top: 6px; }

.pageTitle
  {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  }

.pageHelp
  {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 40px;
  background-color: white
  }

.componentTable
  {
  table-layout: fixed;
  width: 90%;
  border: 1px solid #555555;
  background-color: #eae8ff;
  border-collapse: collapse;
  margin-left: 30px;
  }

.componentTable td
  {
  border: 1px solid #555555;
  border-collapse: collapse;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: top;
}

.componentTable tr
  {
  height:40px;
  }

.componentTable th
  {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #990000;
  text-align: left;
  padding-left: 10px;
  border: 1px solid #555555;
  border-collapse: collapse;
  background-color: #dedbff;
  }

fieldset
    {
    width: 90%;
    border: 1px solid #555555;
    border-top: 0px solid #555555;
    background-color: #eae8ff;
    border-collapse: collapse;
    margin-left: 30px;
    height: auto;
    }

fieldset.head
    {
    border-top: 1px solid #555555;
    background-color:#DEDBFF;
    }

fieldset h2
    {
    color:#990000;
    font-size:16px;
    font-weight:bold;
    text-align:left;
    padding: 10px 0 10px 10px;
    }

fieldset p
    {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    padding: 5px 20px;
    height: 30px;
    }

fieldset.collapse a
    {
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    color: #999999;
    padding-left: 3px;
    text-decoration: none;
    float: left;
    }

fieldset.collapse a:hover
    {
    color: #333333;
    }
fieldset label
    {
    padding-right: 0%;
    float: left;
    width: 20em;
    }
fieldset input
    {
    padding: 0;
    width: 15em;
    }

.buttonSubmit
    {
    padding: 15px 0 0 40px;
    }
.errors {
    color: #FF3300;
    font-size: .8em;
    font-weight: normal;
    }

.collapsible
    {
    padding-top: 10px;
    float: none;
    }

fieldset.collapsed * { display:none; }
fieldset.collapsed a, fieldset.collapsed { display:block !important; }
fieldset.collapsed a { background-position:bottom left; color:#999; }
fieldset.collapsed .collapse-toggle { background:transparent; display:inline !important;}

.toggle {
    float: left;
    display:block !important;
}
